@using NoteTakingApp.Models.DTO
@model NoteList


<div class="row py-2 border-bottom my-2">
     <form method="get" class="note-search mx-auto " id="form-note-search">
         <div class="row">
             <div class="col">
                <input class="form-control" value="@ViewBag.Title" placeholder="Search by title...." type="text" name="title" id="title"  />
             </div>
              <div class="col">
                <input class="form-control" value="@ViewBag.Tag" placeholder="Search by tag..." type="text" name="tag" id="tag" />
             </div>
         </div>
         <div class="row my-2">
             <div class="col d-flex justify-content-end gap-1">
                <button class="btn btn-success" type="submit"><i class="fa fa-search"></i></button>
                <button class="btn btn-danger" onclick="ClearNoteSearch()" type="button"><i class="fa fa-trash"></i></button>
             </div>
         </div>
     </form>
</div>

<div class="row">
    <div class="mx-auto note-addnew">
        <a title="add" class="btn btn-primary" href="/Notes/AddEditView?pageMode=Add&id=0"><i class="fa fa-plus"></i>Add New</a>
    </div>
</div>

<div class="my-3 w-100">
    <div class="w-100">
    @foreach (var note in Model.Notes)
    {
            <div class="note-box mx-auto my-2">
            <div class="note-title"><h4>@note.Title</h4></div>
            <div class="note-body">

                <p>@(note.Notes.Length > 200 ? note.Notes.Substring(0, 200) + "....." : note.Notes)</p>

                @if (!string.IsNullOrEmpty(note.FileName))
                {
                        <a class="note-attachments"><i class="fa fa-picture-o" style="color:green"></i> file :- @note.FileName</a>
                }
            </div>
                <div class="note-tags"><i class="fa fa-tags"></i> Tags : <b><i>@note.Tags</i></b></div>
            <div class="note-footer my-2">
                    <a class="btn btn-warning" title="edit" href="/Notes/AddEditView?pageMode=Edit&id=@note.NoteId"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-primary" title="view" href="/Notes/AddEditView?pageMode=View&id=@note.NoteId"> <i class="fa fa-eye"></i></a>
                    <a class="btn btn-danger" title="delete" onclick="DeleteNote(@note.NoteId)" >  <i class="fa fa-trash"></i></a>
            </div>
        </div>
    }


    <div class="pagination my-2 d-flex justify-content-center gap-1">
        @for (int i = 1; i <= Model.TotalPage; i++)
            {
                if(i == Model.CurrentPage) {
                    <a class="active" href="/Notes/Index?cpage=@Model.CurrentPage&title=@Model.SearchTitle&tag=@Model.SearchTag">@i</a>
                }else{
                    <a href="/Notes/Index?cpage=@i&title=@Model.SearchTitle&tag=@Model.SearchTag">@i</a>
                }
            }
    </div>

    @if(@Model.Notes.Count() == 0) {
        <h1>No notes</h1>
    }
    </div>
</div>
<script src="~/js/Notes/noteindex.js"></script>

@*
<script>

    function ClearNoteSearch() {
        $("#tag").val('');
        $("#title").val('');
        var searchForm = $("#form-note-search");
        searchForm.submit();
    }

    function DeleteNote(noteId) {

        Swal.fire({
            title: '',
            icon: 'info',
            html:
                'Are you sure you want to delete this record?',
            showCloseButton: true,
            showCancelButton: true,
            focusConfirm: false,
            confirmButtonColor: 'red',
            cancelButtonColor: 'blue',
            confirmButtonText:
                '<i class="fa fa-trash"></i> Delete!',
            cancelButtonText:
                '<i class="fa fa-ban"></i> Cancel',
            
        }).then(result =>{
            if (result.isConfirmed) {
                DeleteNoteAjax(noteId)
            }
        })  
    }


    function DeleteNoteAjax(noteId) {
        
        $.ajax({
            url: "/Notes/DeleteNote",
            type: "POST",
            data: { noteId },
            success: function (res) {
                console.log(res);
                if(res.isSuccess) {
                    window.location.reload();
                }
            },
            error: function (err) {
                console.log(err)
                Swal.fire({
                    title: '',
                    icon: 'error',
                    html:'Something went wrong',
                    focusConfirm: false,
                    confirmButtonText:'Ok'

                })
            }
        });

    }
</script>*@